<!DOCTYPE html>
	<head>
		<title>Prode</title>

        <meta name=“viewport” content=“width=device-width”>
    </head>

	<body>
        <form action="/algo" method=“post”>
                    <input type=“text” placeholder=“usuario” id="user"/>
                    <input type=“password” placeholder=“contraseña” id="pass"/>
                    <input type="submit" value="200"></button>
        </form>
	</body>
</html>
