{{>header}}
  <h1>Llene los campos para crear un usuario tipo administrador</h1>

  <form action="/admin/new" method="post">
    <div class="form-group">
      <label for="name">Nombre usuario</label>
      <input type="name" class="form-control" id="name">
    </div>
    <div class="form-group">
      <label for="pass">Password</label>
      <input type="password" class="form-control" id="pass" placeholder="Password">
    </div>
    <input type="hidden" name="id" value="1">
    <button type="submit" class="btn btn-primary">Crear</button>
  </form>

{{>footer}}
