{{> header}}
  <div class="container">
      <div class="panel panel-primary">
      <div class="panel-heading">Agregar un nuevo Equipo</div>
      <div class="panel-body">
        <form action="/team/save" method="post" enctype="multipart/form-data">
        
        <label for="nombre">Nombre</label>
        <input type="text" placeholder="Equipo" name="nombre" id="nombre" required>
        <br>
        
        <label for ="imagen">Escudo</label>
        <input type="file" class="form-control-file" name="imagen" id="imagen" accept=".png" required>
        
        <input type="submit" class="btn btn-success" value="Enviar">
        <br>
        {{mensaje}}
        
        </form>
        </div>
       </div>
   </div>
{{> footer}}
